<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="filename">target/test.log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
        </Console>
		<File name="File" fileName="${filename}">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="gui" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="logic" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="database" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Root level="trace">
			<AppenderRef ref="Console" level="error"/>
		</Root>
	</Loggers>
</Configuration>